.actionbutton{
    background-color: aqua;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.actionbutton:hover{
    background-color: rgb(192, 250, 250);
}
/* display , inline-block*/
/* hover */
/* text-decoration */